<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" /> <!-- this is the character encoding -->
    <title>Formulario del Estudiante RECIBIDO</title>
</head>

<body>
    <h1>Información del Estudiante</h1>
    <p>NSS: <input type="number" id="nss" name="nss" value="<%= nss %>" disabled /></p> <!-- recibimos del objeto envíado, todos los valores y los plasmamos en inputs -->
    <p>Nombre: <input type="text" id="nombre" name="nombre" value="<%= nombre %>" disabled /></p>
    <p>Edad: <input type="number" id="edad" name="edad" value="<%= edad %>" disabled /></p>
    <p>Tipo de sangre: <input type="text" id="tipoSangre" name="tipoSangre" value="<%= tipoSangre %>" disabled /></p>
</body>

</html>